<div th:fragment="alertMessage" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" aria-label="Close" onclick="this.parentElement.style.display='none';"></button>
    </div>
    <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" aria-label="Close" onclick="this.parentElement.style.display='none';"></button>
    </div>
</div>
