<!-- html -->
<nav th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
     class="bg-dark text-white vh-100 p-3 d-flex flex-column" style="width: 250px; position: fixed;">


    <!-- common header -->
    <div class="text-center border-bottom border-secondary pb-3 mb-3 ">
        <h4>Stock Manager</h4>
        <span class="small mt-3 text-start" th:if="${currentUser != null}" th:text="${'Welcome, ' + currentUser}">Welcome, User</span>
        <br><span class="small text-start" th:if="${currentUserEmail != null and currentUserEmail != ''}" th:text="${currentUserEmail}"></span>

        <br><span class="small" th:unless="${currentUser != null}">Welcome, Guest</span>
    </div>

    <!-- ADMIN only links -->
    <ul class="nav flex-column" sec:authorize="hasRole('ADMIN')">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/admin}">
                <i class="bi bi-speedometer2 me-2"></i>Admin Dashboard
            </a>
        </li>
        <!-- other admin items -->
    </ul>

    <!-- SECRETAIRE_GENERAL only links -->
    <ul class="nav flex-column" sec:authorize="hasRole('SECRETAIRE_GENERAL')">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/sg}">
                <i class="bi bi-file-earmark-text me-2"></i>Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/sg/requests}">
                <i class="bi bi-file-earmark-text me-2"></i>Manege Requests
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/sg/stock}">
                <i class="bi bi-file-earmark-text me-2"></i>View Stock
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/sg/stock}">
                <i class="bi bi-file-earmark-text me-2"></i>Reports
            </a>
        </li>
    </ul>

<!--    DEMANDEUR -->
    <ul class="nav flex-column" sec:authorize="hasRole('DEMANDEUR')">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/requester}">
                <i class="bi bi-speedometer2 me-2"></i>requester Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/requester/products}">
                <i class="bi bi-speedometer2 me-2"></i>Products List
            </a>
        </li>
    </ul>

    <!-- links visible to all authenticated users -->
    <ul class="nav flex-column" sec:authorize="isAuthenticated()">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/profile}"><i class="bi bi-person-circle me-2"></i>Profile</a>
        </li>
    </ul>

    <div class="mt-auto pt-3 border-top border-secondary" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-outline-light w-100"><i class="bi bi-box-arrow-right me-2"></i>Logout</button>
        </form>
    </div>
</nav>


<!--
TODO
add a alert
add a usernamem,roel,email display at the top of the sidebar
-->