<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div id="wrapper">
    <div th:replace="~{fragments/topbar :: topbar}"></div>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Magasinier Dashboard</h1>

        <div class="mb-4">
            <form th:action="@{/magasinier/requests}" method="get" class="form-inline">
                <div class="form-group mr-2">
                    <label for="statusFilter" class="mr-2">Filter by Status:</label>
                    <select id="statusFilter" name="status" class="form-control">
                        <option value="">All</option>
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Requests</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Requester</th>
                            <th>Request Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${requests}">
                            <td th:text="${request.id}"></td>
                            <td th:text="${request.demandeur.nom}"></td>
                            <td th:text="${request.request_date}"></td>
                            <td th:text="${request.etat_demande}"></td>
                            <td>
                                <a th:href="@{/magasinier/request/{id}(id=${request.id})}" class="btn btn-primary btn-sm">View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
